
#main-headinge {
    color: red;
    font-family: 'Times New Roman', Times, serif;

}

.highlight {
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-div {
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    position: static;
}

.main-div {
    border: 2px solid black;
    margin: 15px;
    padding: 12px;
    position: relative;
    top: 10px; 
    left: 10px;
}
.footer-div {
    border: 2px solid black;
    margin: 100px;
    padding: 52px;
    position: absolute;
    top: 400px;
    right: 500px;
}

p {
    font-size: 1.1em;  
}
h1 {
    font-size: 30px; 
}

.right-box {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin: 2px;
    width: 300px;
    height: 200px;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.left-box {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin: 2px;
    width: 300px;
    height: 200px;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-around;
}   

table {
    border: 2px solid black;
}
tr {
    border: 1px solid black;
}